*.class

# Package Files #
*.jar
*.war
*.ear
/bundles/org.eclipse.equinox.region/target/
/bundles/org.eclipse.equinox.simpleconfigurator/target/
/bundles/org.eclipse.equinox.frameworkadmin/target/
/bundles/org.eclipse.equinox.frameworkadmin.equinox/target/
/bundles/org.eclipse.equinox.simpleconfigurator.manipulator/target/
/virgo/virgo.test/org.eclipse.virgo.test.stubs/target/
/virgo/virgo.util/org.eclipse.virgo.util.common/target/
/virgo/virgo.util/org.eclipse.virgo.util.jmx/target/
/virgo/virgo.util/org.eclipse.virgo.util.math/target/
/virgo/virgo.util/org.eclipse.virgo.util.env/target/
/virgo/virgo.util/org.eclipse.virgo.util.parser.manifest/target/
/virgo/virgo.util/org.eclipse.virgo.util.io/target/
/virgo/virgo.util/org.eclipse.virgo.util.osgi.manifest/target/
/virgo/virgo.util/org.eclipse.virgo.util.osgi/target/
/virgo/virgo.medic/org.eclipse.virgo.medic/target/
/virgo/virgo.medic/org.eclipse.virgo.medic.test/target/
/virgo/virgo.nano/org.eclipse.virgo.nano.core/target/
/virgo/virgo.nano/org.eclipse.virgo.nano.deployer.api/target/
/virgo/virgo.nano/org.eclipse.virgo.nano.deployer.hot/target/
/virgo/virgo.nano/org.eclipse.virgo.nano.deployer/target/
/virgo/virgo.nano/org.eclipse.virgo.nano.management/target/
/virgo/virgo.nano/org.eclipse.virgo.nano.management.controller/target/
/virgo/virgo.nano/org.eclipse.virgo.nano.services.concurrent/target/
/virgo/virgo.nano/org.eclipse.virgo.nano.services.ds/target/
/virgo/virgo.nano/org.eclipse.virgo.nano.shutdown/target/
/virgo/virgo.nano/org.eclipse.virgo.nano.authentication/target/